/* 초기화 */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin:0; padding:0; }
ul {list-style:none;}
fieldset, img {border:0;}
body {background:#e3e3e3; font-size:0.75em; line-height:1.2; font-family:nanum;}



/*헤더 영역*/
#header {height:100px; background: url('../images/header_bg.png'); }
.header_w {width:1200px; height:150px; margin:0 auto; position:relative; overflow:hidden;}
.logo {position:absolute; top:5px; left:500px;}

.infolink {position:absolute; top:35px; left:262px;}
.infolink a {display:inline; padding:0 12px;}


.header_icon  {position:absolute; top:35px; right:0px;}
.header_icon:hover a{opacity:.20; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"}

.login  {position:absolute; top:45px; right:52px;}
.login:hover a{opacity:.20; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"}


#text_box {
    width: 250px;
    height: 20px;
    border: 2px solid #ffffff;
    font-size: 17px;
    padding: 10px;
    display: block;
    background-color: #df4f4f;
    margin-top: 35px;
	left:0;
}







/*컨텐츠 영역 css */


.cont {width:1200px; height:2000px; position:relative; margin:0 auto; background:##e3e3e3;}
.container {position:absolute; top:-40px; left:0px;}

.inlogin1   {position:absolute; list-style: none; padding: 0px; margin-left: 90px;}
.inlogin1   {position:absolute; top:190px;}
.inlogin1:hover a{opacity:.40; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"} 
.inlogin2   {position:absolute; list-style: none; padding: 0px; margin-left: 88px;}
.inlogin2   {position:absolute; top:225px;}
.inlogin2:hover a{opacity:.40; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"} 



#menu_aside { position:relative; width:264px; height:1500px; top:265px;   padding:10px; background:#ffffff; padding-bottom:15px;}




.p1 {position:absolute; top:10px; left:0;}
.p1:hover a{opacity:.40; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"}

.p10 {position:absolute; top:1200px; left:0;}

